@import url('https://fonts.googleapis.com/css2?family=Krona+One&Montserrat:ital,wght@400;600&display=swap');

:root{
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; vh -> viewport height // define a altura da pagina com a altura máxima (100%) do tamanho da tela */
    box-sizing: border-box; /*não permite que os elementos filhos saiam do elemento pai*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font-secundaria);
    font-size: 1.5rem; /* rem -> unidade de medida relativa, ajuda a adaptar o tamanho de acordo com as preferencias do usuario ( 1rem = 16px)*/
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1{
    font-family: var(--fonte-primaria);
    font-size: 2.25rem;
}

.text-blue{
    color: var(--cor-terciaria);
}

p{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
}

.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

h2{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    font-family: var(--font-secundaria);
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    padding: 1.4rem 0; /*21.5px 0; primeiro valor vertical e o segundo horizontal */
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-decoration: none;
}

.apresentacao__conteudo__links__btn:hover{
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 1.5rem; /* 24px; */
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% 10%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}